[Unit]
Description=set GPS to stationary mode
Before=gpsd.service
Before=ubxtool.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/gpsd
ExecStart=/usr/local/bin/gpsControl -d $DEVICES -s

[Install]
WantedBy=multi-user.target
Also=gpsd.service
Also=ubxtool.service
